.bg{
  background-color: darkmagenta ;
width: 1370px;
height: 30px;
}
body{
  background-color: darkmagenta;
}
.a1{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 200px;
font-weight: bolder;
}

.b2{
  text-decoration: none;
color: white;
font-size: x-small;
padding-left: 60px;
font-weight: bolder;
}
.c3{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 60px;
  font-weight: bolder;
}
.d4{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 60px;
  font-weight: bolder;
}
.e5{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 60px;
  font-weight: bolder;
}
.f6{
text-decoration: none;
color: white;
font-size: x-small;
padding-left: 20px;
font-weight: bolder;
}
.g7{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 20px;
  font-weight: bolder;
}
.h8{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 60px;
  font-weight: bolder;
}
.i9{
  text-decoration: none;
  color: white;
  font-size: x-small;
  padding-left: 30px;
  font-weight: bolder;
}
.j10{
  text-decoration: none;
  color: white;
  font-size: x-small;
  font-weight: bolder;
  padding-left: 20px;
}
.me{
  list-style: none;
  display: flex;
}
.dd{
  margin-top: -40px;
  margin-left: 70px;
}
.mk{
 width: 100%;
 height: 650px;
 margin-top: -120px;
 background-image: url(../image/images\ \(7\).jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.mk li{
  color: white;
  margin-top: 150px;
  list-style: none;
  margin-left: 40px;
  font-weight: bolder;
  margin-top: 70px;
 
}
#md{
  display: flex;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#redu{
  height: 60px;
  margin-top: -10px;
  border-radius: 25px;
  width: 150px;
  background-color: lightseagreen;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
#onl{
  margin-left: 700px;
  font-weight: bolder;
}
.we{
 text-align: center;
 font-size: 50px;
 color: white;
}
#one{
  margin-top: 280px;
}
.vt{
  margin-left: 350px;
  color: white;
}
.hy{
  height: 60px;
  margin-top: -10px;
  border-radius: 25px;
  width: 150px;
  background-color: lightseagreen;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  /* margin-left: 400px; */
  text-align: center;
}

.hy p{
  font-size: 150px;
  font-weight: bolder;
  text-align: center
}
#h{
  margin-left: 35%;
}
.h1{
  margin-left: 400px;
  margin-bottom: 1000px;
}
.hp{
  background-color: rgb(211, 156, 211);
  width: 1370px;
  height: 300px;
}
#qp{
  margin-left:30% ;
  color: white;
  padding-top: 100px;
}
#wp{
  margin-left: 35%;
  color: white;
}
#mj{
 margin-left: 45%;
 font-weight: bolder;
}

.vv{
  margin-left: 1000px;
  margin-top: -270px;
  width: 290px;
  height: 200px;
}
.ii{
  width: 290px;
  height: 200px;
  margin-top: -190px;
  margin-left: 50px;
  
}

.wt{
  background-color: white;
  width: 1370px;
  height: 400px;
}
.pul{
  margin-left: 700px;
}
.pii{
  margin-left: 700px;
}
.tyu{
  margin-top: -365px;
}
.vds{
margin-top: -320px;
margin-left: 50px;
}
.rew{
  background-color: whitesmoke;
  width: 1370px;
  height: 400px;
}
.rew h1{
  text-align: center;
}
.rew p{
  margin-left: 250px;
}.gt{
  color: blue;
}
.quick{
  margin-left: 1000px;
  margin-top: -360px;
  width: 300px;
  height: 300px;
}
#push-container {
  width: 1370px;
  height: 400px;
  display: flex;
  margin-left: 50px;
  margin-top: 32px;
 
}
.done{
  margin-left: 60px;
}
.done h5{
  color: white;
}
.done h6{
  color: white;
  margin-top: 40px;
}
.d4 h6{
  margin-top:35px ;
}
.d4 button{
  font-size: medium;
  color: blue;
}
footer{
  background-color: black;
  padding: 20px;
}
#try{
  display: flex;
  margin-left: 300px;
  
}
.tryy ul{
  display: flex;
  margin-top: -60px;
}
.tty p{
  color: white;
  font-size: large;
  margin-top: 7px;
}
#try p{
  color: dimgrey;
}
.tryy a{
  color: dimgrey;
}
